body {
    background-color: #F9F6D8;
  margin:0;
  display:flex;
  flex-direction:column;
}
main{
  height:800px;
}

a {
  text-decoration: none;
  color:red;
}
nav a:hover{
  color:white;
  background-color: black;
}

.bar_selector{
  background-color: rgba(255,255,255,0.7);
  width: 25%;
    position: absolute;
  height: 800px;
  width: 100px;
    z-index: -1;
}
nav .bar_main{
  background-color: black;
  width: 75%;
    position: absolute;
  height: 800px;
  width: 100px;
    z-index: -1;
  display: none;
}
nav a:hover ~ .bar_selector{
  background-color: red;
}